<div class="row clearfix pizza-row" id="pizza-row-{{i}}" data-index="{{i}}">
    <div class="form-group">

        <label for="pizza_{{i}}" class="col-md-1 text-right control-label">#{{i}}</label>

        <div class="col-md-6">
            <input id="pizza_{{i}}" name="pizza_{{i}}" type="text" class="form-control" autocomplete="off">
        </div>

        <div class="col-md-5">
            <label class="checkbox-inline" for="meat_{{i}}">
                <input name="meat_{{i}}" id="meat_{{i}}" type="checkbox" value="1">
                Meaty
            </label>

            <label class="checkbox-inline" for="vegetarian_{{i}}">
                <input name="vegetarian_{{i}}" id="vegetarian_{{i}}" type="checkbox" value="1">
                Veggy
            </label>

            <label class="checkbox-inline" for="fish_{{i}}">
                <input name="fish_{{i}}" id="fish_{{i}}" type="checkbox" value="1">
                Fishy
            </label>

            <label class="checkbox-inline" for="hot_{{i}}">
                <input name="hot_{{i}}" id="hot_{{i}}" type="checkbox" value="1">
                Hot!
            </label>
        </div>

    </div>

</div>