{% extends "base.html.twig" %}

{% block controller %}result{% endblock %}

{% block content %}

    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 column">
            <fieldset>

                <legend>Result</legend>

                <div class="col-md-12 result-board">

                    {% if result['pizzas']|length == 1 %}

                        <div class="big-text">
                            {{ result['pizzas'][0].name }}
                            {% if result['pizzas'][0]['qty'] > 1 %}x {{ result['pizzas'][0]['qty'] }}{% endif  %}
                        </div>

                    {%  else %}

                        <ol>
                            {% for pizza in result['pizzas'] %}
                                <li>
                                    {{ pizza.name }}
                                    {% if pizza.qty > 1 %}x {{ pizza.qty }}{% endif  %}
                                </li>
                            {% endfor %}
                        </ol>

                    {% endif %}
                </div>

                <div class="col-md-12 result-share text-center">
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_email_large' displayText='Email'></span>
                </div>

                <div class="col-md-12 result-description">
                    <p>
                        <input type="hidden" name="date_utc" id="date-utc" value="{{ result['date_created'] }}">
                        Generated randomly on <span id="date-created"></span> for "{{ result['restaurant'] }}" located in {{ result['city'] }}.
                    </p>
                    <p>&nbsp;</p>
                    <p class="text-center"><strong>Enjoy your pizza!</strong></p>
                </div>



            </fieldset>
        </div>
    </div>


{% endblock %}