{% extends "base.html.twig" %}

{% block title %}{{ resultTitle(result) }}{% endblock %}
{% block metaDescription %}{{ resultMetaDescription(result) }}{% endblock %}
{% block metaKeywords %}{{ resultMetaKeywords(result) }}{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/app/result.js') }}"></script>.
    <script id="dsq-count-scr" src="https://randompizza.disqus.com/count.js" async></script>
{% endblock %}

{% block controller %}result{% endblock %}

{% block content %}

    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 column">
            <fieldset>

                <legend>Result</legend>

                <div class="col-md-12 result-board">

                    {% if result['pizzas']|length == 1 %}

                        <div class="big-text">
                            {{ result['pizzas'][0].name }}
                            {% if result['pizzas'][0]['qty'] > 1 %}x {{ result['pizzas'][0]['qty'] }}{% endif  %}
                        </div>

                    {%  else %}

                        <ol>
                            {% for pizza in result['pizzas'] %}
                                <li>
                                    {{ pizza.name }}
                                    {% if pizza.qty > 1 %}x {{ pizza.qty }}{% endif  %}
                                </li>
                            {% endfor %}
                        </ol>

                    {% endif %}
                </div>

            </fieldset>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 column">
            <fieldset>
                <legend>Share</legend>

                {% set resultUrl = 'http://random.pizza/' ~ result['slug'] %}

                <div class="row result-share">
                    <div class="col-md-6">
                        <input id="share-url" name="share-url" value="{{ resultUrl }}" class="form-control input-md" type="text">
                    </div>
                    <div class="col-md-6">
                        <ul class="social">
                            <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ resultUrl }}" title="Share on Facebook"></a></li>
                            <li class="twitter"><a href="https://twitter.com/home?status={{ resultUrl }}" title="Share on Twitter"></a></li>
                            <li class="googleplus"><a href="https://plus.google.com/share?url={{ resultUrl }}" title="Share on Google +"></a></li>
                        </ul>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 column">
            <fieldset>
                <legend>Info</legend>
                <p>
                    <input type="hidden" name="date_utc" id="date-utc" value="{{ result['date_created'] }}">
                    Generated on <strong><span id="date-created"></span></strong>.
                    {{ resultDescription(result) }}
                </p>

                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = '{{ resultUrl }}';
                        this.page.identifier = '{{ result['slug'] }}';
                    };
                    (function() {
                        var d = document, s = d.createElement('script');
                        s.src = '//randompizza.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>

            </fieldset>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 column">
            <p class="text-center enjoy"><strong>Enjoy your pizza!</strong></p>
        </div>
    </div>

{% endblock %}